@font-face {
    font-family: 'isans';
    src : url('../font/isttf.ttf') format('truetype');
}
@font-face {
    font-family: 'isansFaNum';
    src: url('../font/iranSansFarsiNumber.ttf') format('truetype');
}

.yekanFont{
    font-family: 'yekan' !important;
}

.gadugiFont{
    font-family: 'isans' !important;
}

.isansFont{
    font-family: 'isans' !important;
    letter-spacing: normal;
}

.isansFont--faNum {
    font-family : 'isansFaNum' !important;
}