@media only screen and (max-width: 768px){
    ul.profileItem{
        padding:0 !important;
        width:40% !important;
        float:left !important;
    }
    ul li span{
        margin-right:10px;
    }
    ul.dropdown-menu li > a:hover{
        background-color: #9c27b0 !important;
        color:white !important;
    }
    .postSelfTitleBox{
        margin-top:-100px !important;
    }
}